@import "base.scss";
* { box-sizing: border-box; }

.wrapper{
	@include flt;
	.word{
		@include am(auto,auto);
		@include fontvw(36,36,#000);
		text-align: center;
		z-index: 1;
	}
	img{
		opacity:0;
		position: absolute;
		height: 100%;
		left: 0;
		top: 0;
		&.on{
			opacity:1;
		}
	}
}