@import "base.scss";
* { box-sizing: border-box; }
html,body{
	height: 100%;
	background-color: #000;
}
body{
	margin-top: 200px;
}
.loading{
	@include flt;
	z-index: 9999;
	background-color: #000;
	&.on{
		span{
			animation: loadingAni 1s steps(10) infinite;
			@keyframes loadingAni{
				100%{ background-position: getVW(-1900); }
			}
		}
	}
	span{
		@include amvw(190,240);
		margin-top:getVW(-30);
		background-image: url(../images/monster.png);
		background-repeat: no-repeat;
		background-size: auto getVW(240);
		background-position: 0 0;
		&:before{
			@include alb(100%,auto);
			@include fontvw(20,20,#fff);
			content:"loading";
			text-align: center;
			bottom:getVW(-30);
		}
	}
}
.wrapper{
	@include flt;
	background-color: #000;
	z-index: 1;
	.step{
		@include alt;
		background-color: #000;
		&.step1{
			z-index: 9;
			input{
				@include amvw(500,56);
				@include fontvw(21,56,#000);
				background-color: #fff;
				box-sizing: border-box;
				border: 1px solid #ccc;
				text-indent: 15px;
			}
			.title{
				@include amvw(100,56);
				@include fontvw(56,56,#fff);
				width: 100%;
				text-align: center;
				margin-top: getVW(-132);
				text-transform:uppercase;
			}
			.submit{
				@include amvw(100,36);
				@include fontvw(21,36,#fff);
				border-radius: getVW(5);
				background-color: #333;
				text-align: center;
				margin-top: getVW(76);
			}
		}
		&.step2{
			z-index: 8;
			.word{
				@include altvw(70,70,50,50,-35,-35);
				border-radius:getVW(35);
				left: 50%;
				top: 50%;
				text-align: center;
				z-index: 1;
				background-color: #e8e8e8;
				opacity: 0.3;
				&:before{
					@include am(auto,auto);
					@include fontvw(21,24,#333);
					content:"Start";
				}
				// &.on{
				// 	&:before{
				// 		content:"Start"
				// 	}
				// }
			}
			img{
				position: absolute;
				left: 0;
				top: 0;
				&.on{
					opacity:1;
				}
			}
		}
		&.step3{
			z-index: 7;
			.again{
				@include amvw(300,56);
				@include fontvw(21,56,#fff);
				border-radius: getVW(5);
				background-color: #333;
				text-align: center;
				margin-top: getVW(-38);
			}
			.back{
				@include amvw(300,56);
				@include fontvw(21,56,#fff);
				border-radius: getVW(5);
				background-color: #333;
				text-align: center;
				margin-top: getVW(38);
			}
		}
	}
	
}
.sound{
	@include flt;
	z-index: 0;

}